<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button *ngIf="this.dataService.isLoggedIn()"   mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1 (click)="this.homeNav()">VetClinik</h1>
      <span class="menu-spacer"></span>
      <div>
        <a *ngIf="!this.dataService.isLoggedIn()"  [routerLink]="['/login']" mat-button  >Login</a>
        <a *ngIf="!this.dataService.isLoggedIn()" [routerLink]="['/register/first']" mat-button >Registrate</a>
        <a *ngIf="this.dataService.isLoggedIn()"  (click)="logout()" mat-button  >Logout</a>
        <a *ngIf="this.dataService.isLoggedIn()&&this.dataService.isAdmin()"  [routerLink]="['/userlist']" mat-button  >Список пользователей</a>
        <a *ngIf="this.dataService.isLoggedIn()&&this.dataService.isAdmin()"  [routerLink]="['/animallist']" mat-button  >Список животных</a>
        <a *ngIf="this.dataService.isLoggedIn()&&this.dataService.isAdmin()"  [routerLink]="['/doctoradd']" mat-button  >Добавить врача</a>
        <a *ngIf="this.dataService.isLoggedIn()"  [routerLink]="['/doctorlist']" mat-button  >Список врачей</a>
        <a *ngIf="this.dataService.isLoggedIn()&&!this.dataService.isAdmin()"  [routerLink]="['/sessionreg']" mat-button  >Запись к врачу</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container  [hidden]="this.dataService.isLoggedIn()">
    <mat-sidenav #sidenav  >
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/lk'">Profile</a>
        <a *ngIf="this.dataService.isLoggedIn()"  (click)="logout()" mat-list-item   >Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 100vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
