<form [formGroup]="profileForm" class="form-container">
    <mat-card>
        <mat-card-header>Информация</mat-card-header>
        <mat-card-content>
    <div name="firstStep" class="col-md-6"> 
    <mat-form-field class="full-width">
        <mat-label>ФИО</mat-label>
        <input formControlName="fio" matInput placeholder="ФИО">
    </mat-form-field>
    </div>
    <div name="firstStep">
    <mat-form-field class="full-width">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput  placeholder="Phone">
    </mat-form-field>
    </div>
    <div name="firstStep">
    <mat-form-field class="full-width">
        <mat-label>Experience</mat-label>
        
        <input formControlName="experience" matInput placeholder="Experience">
    </mat-form-field>
    </div>
    <div name="firstStep">
    <mat-form-field class="full-width">
        <mat-label>Achivments</mat-label>
        <input formControlName="achivments" matInput placeholder="Achivments">
    </mat-form-field>
    </div>
    <div name="firstStep">
        <mat-form-field class="full-width">
            <mat-label>Виды услуг</mat-label>
            <input formControlName="types" matInput placeholder="Виды услуг">
        </mat-form-field>
        </div>
</mat-card-content>
<mat-card-actions>
    <button (click)="goNextStep()" mat-raised-button color="primary" >Submit</button>
    </mat-card-actions>
    </mat-card>
</form>